.black-box {
    background-color: black;
}

.matched-box, .black-box {
    width: 5rem;
    height: 6rem;
    margin: 1rem;
    display: inline-flex;
}

input {
    margin: 0 auto;
    display: block;
    background-color: rgb(16, 41, 2);
    color: rgb(241, 243, 246);
    width: 10rem;
    height: 6rem;
    font-size: 2.5rem;
}

input:hover, .black-box:hover {
    cursor: pointer;
}

#image-container {
    text-align: center;
}

#progress-container {
    display: flex;
    justify-content: space-evenly;
}

.progress-image-container {
    display: inline-block;
    margin: 0% 1%;
}

.progress-image-label {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 1.5rem;
    
}

.progress-image {
    margin-top: 0;
    /* position: absolute;
    bottom: 0; */
    bottom: 0;
}

#number-of-matches-message {
    text-align: center;
    font-size: 3rem;
}